PORT=5000
NODE_ENV=development

# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://swetachoudhary162005_db_user:HYvlTH1TaMFeReRYS@cluster0.ukbrfdf.mongodb.net/?appName=Cluster0

# JWT Configuration
JWT_SECRET=sih2026runtime
JWT_EXPIRES_IN=7d

# Frontend URL (for CORS + cookies)
CLIENT_URL=http://localhost:5173



GEMINI_API_KEY=your_api_key_here