PORT=5000
NODE_ENV=development

# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?appName=Cluster0
# JWT Configuration
   JWT_SECRET=86141fe90f1530f748d812db3a5c5d1fb60e40afdf5c0e4de279d37d0f70a4cegit add backend/.env.example
JWT_EXPIRES_IN=7d

# Frontend URL (for CORS + cookies)
CLIENT_URL=http://localhost:5173



GEMINI_API_KEY=your_api_key_here